In [1]:
import pandas as pd
import re

In [2]:
loan_lenders = pd.read_csv("additional-kiva-snapshot\loans_lenders.csv")
country_stats = pd.read_csv("additional-kiva-snapshot\country_stats.csv")
lenders = pd.read_csv("additional-kiva-snapshot\lenders.csv")
loan = pd.read_csv("additional-kiva-snapshot\loans.csv", parse_dates = ['planned_expiration_time', 'disburse_time'])

### 1 Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.

Viene inserito un nuovo attributo denominato "n_lenders" in modo da sapere quanti creditori hanno preso parte a quel prestito (tornerà utile nel punto 8 dato che si presuppone che ogni creditore contribuisca equamente al prestito).

La normalizzazione effettuata si riferisce all'atomicità dei singoli attributi.

In [3]:
loan_lenders['n_lenders'] = loan_lenders.lenders.apply(lambda x: len(str(x).split(',')))

In [4]:
from itertools import chain

In [5]:
temp = loan_lenders['lenders'].str.split(',')
loan_lenders_norm = pd.DataFrame({
    'loan_id' : loan_lenders['loan_id'].values.repeat(temp.str.len()),
    'lenders' : list(chain.from_iterable(temp.tolist())),
    'n_lenders' : loan_lenders['n_lenders'].values.repeat(temp.str.len())
})

In [6]:
loan_lenders_norm.head(15)

    loan_id         lenders  n_lenders
0    483693          muc888         40
1    483693         sam4326         40
2    483693     camaran3922         40
3    483693     lachheb1865         40
4    483693     rebecca3499         40
5    483693   karlheinz4543         40
6    483693         jerrydb         40
7    483693       paula8951         40
8    483693            gmct         40
9    483693        amra9383         40
10   483693           r3922         40
11   483693       brian9451         40
12   483693       shree8053         40
13   483693        alan5513         40
14   483693       oisin3389         40

In [7]:
loan_lenders_norm.tail(15)

          loan_id             lenders  n_lenders
28293916  1206220         marilyn1116         44
28293917  1206220          sheila5822         44
28293918  1206220   sebastien24117895         44
28293919  1206220      martin19411599         44
28293920  1206220        florence9711         44
28293921  1206425            rich6705          8
28293922  1206425         sergiiy9766          8
28293923  1206425          angela7509          8
28293924  1206425         barbara5610          8
28293925  1206425           david9667          8
28293926  1206425   trogdorfamily7622          8
28293927  1206425           danny6470          8
28293928  1206425             don6118          8
28293929  1206486            alan5175          2
28293930  1206486         amy38101311          2

### 2 For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time.

In [8]:
loan.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

In [9]:
loan['duration'] = loan['planned_expiration_time'] - loan['disburse_time']
loan['duration'] = loan['duration'].dt.days

### 3 Find the lenders that have funded at least twice.

In [10]:
loan_funded = loan[loan["status"]=="funded"]
loan_funded_merged = pd.merge(loan_lenders_norm, loan_funded["loan_id"], left_on="loan_id", right_on="loan_id")
times_founded = loan_funded_merged["lenders"].value_counts()

In [11]:
times_founded[times_founded >= 2]

 gooddogg1           142349
 trolltech4460       139191
 gmct                122156
 nms                  93283
 themissionbeltco     70151
 rjhoward1986         46965
 joinFITE             37892
 barbara5610          36485
 wakibi               31998
 amirali5409          28181
 highgrovechurch      26709
 shirley1905          26448
 will8174             25901
gooddogg1             25163
 lidia5529            22931
 laurence5353         22232
 aaron83574977        22206
 hans8594             21934
 szucheng2565         21483
 don9212              20891
 maria44596761        20242
 andrewhoffman        19935
 howard7012           19818
 craig97299604        19371
 rene3075             19154
 am8748               18734
 bob4739              18685
 judith5696           18118
 thierry8170          18117
 howard4162           18002
                      ...
 solveig1594              2
 dean4149                 2
 deborah28978988          2
superheman                2
 abhilasha8494            2
 glenn3466                2
 may5890                  2
 dennis1992               2
amelia2590                2
 ann9952                  2
 keeshin8291              2
 rachel3210               2
 julia6398                2
 kevin93643604            2
 robert1367               2
tim6823                   2
 sarah7210                2
 hung2082                 2
 carol7706                2
lisa55729893              2
 lucio7729                2
 debbie8869               2
nickex5                   2
sander5793                2
 lawrence6451             2
josh7717                  2
 stephanie8766            2
 cindy1325                2
 sayaka1640               2
 may2736                  2
Name: lenders, Length: 993782, dtype: int64

### 4 For each country, compute how many loans have involved that country as borrowers.

In [12]:
loan.groupby('country_name')['loan_id'].count()

country_name
Afghanistan                               2337
Albania                                   3075
Armenia                                  13952
Azerbaijan                               10172
Belize                                     218
Benin                                     5946
Bhutan                                       2
Bolivia                                  25250
Bosnia and Herzegovina                     608
Botswana                                     1
Brazil                                     482
Bulgaria                                   296
Burkina Faso                              3489
Burundi                                   1727
Cambodia                                 79701
Cameroon                                  5085
Canada                                       1
Chad                                        61
Chile                                      892
China                                      134
Colombia                                 33675
Congo                                      952
Costa Rica                                4681
Cote D'Ivoire                              283
Dominican Republic                        4654
Ecuador                                  33471
Egypt                                     2460
El Salvador                              64037
Gaza                                         8
Georgia                                   6483
                                         ...
Philippines                             285336
Puerto Rico                                 80
Rwanda                                   16774
Saint Vincent and the Grenadines            16
Samoa                                    16435
Senegal                                  12107
Sierra Leone                             15576
Solomon Islands                            903
Somalia                                    227
South Africa                               633
South Sudan                               5820
Sri Lanka                                  264
Suriname                                   292
Tajikistan                               43942
Tanzania                                 16110
Thailand                                   247
The Democratic Republic of the Congo      5074
Timor-Leste                               3816
Togo                                     17106
Turkey                                    2008
Uganda                                   45882
Ukraine                                   4994
United States                             9180
Uruguay                                      1
Vanuatu                                      4
Vietnam                                  21839
Virgin Islands                               2
Yemen                                     4206
Zambia                                    1277
Zimbabwe                                  5513
Name: loan_id, Length: 96, dtype: int64

### 5 For each country, compute the overall amount of money borrowed.

In [13]:
money_borrowed_per_country = loan.groupby(['country_name', 'country_code'])['loan_amount'].sum()

In [14]:
display(money_borrowed_per_country)

country_name                          country_code
Afghanistan                           AF               1967950.0
Albania                               AL               4307350.0
Armenia                               AM              22950475.0
Azerbaijan                            AZ              14784625.0
Belize                                BZ                150175.0
Benin                                 BJ               3865825.0
Bhutan                                BT                 20000.0
Bolivia                               BO              44226725.0
Bosnia and Herzegovina                BA                477250.0
Botswana                              BW                  8000.0
Brazil                                BR               1192325.0
Bulgaria                              BG                375300.0
Burkina Faso                          BF               4085200.0
Burundi                               BI               5233450.0
Cambodia                              KH              51613525.0
Cameroon                              CM               2250800.0
Canada                                CA                 50000.0
Chad                                  TD                 20075.0
Chile                                 CL               2595925.0
China                                 CN                380525.0
Colombia                              CO              23613975.0
Congo                                 CG               2265350.0
Costa Rica                            CR               5644350.0
Cote D'Ivoire                         CI                345300.0
Dominican Republic                    DO               9308000.0
Ecuador                               EC              35519000.0
Egypt                                 EG               1415025.0
El Salvador                           SV              41691550.0
Gaza                                  GZ                  5000.0
Georgia                               GE               9570425.0
                                                         ...
Philippines                           PH              97984600.0
Puerto Rico                           PR                441900.0
Rwanda                                RW              29157325.0
Saint Vincent and the Grenadines      VC                 49225.0
Samoa                                 WS              12212175.0
Senegal                               SN              17952175.0
Sierra Leone                          SL              11967500.0
Solomon Islands                       SB                815575.0
Somalia                               SO                308725.0
South Africa                          ZA               1006525.0
South Sudan                           SS               2418300.0
Sri Lanka                             LK                 74800.0
Suriname                              SR                748925.0
Tajikistan                            TJ              39622125.0
Tanzania                              TZ              18720300.0
Thailand                              TH                608925.0
The Democratic Republic of the Congo  CD              18813425.0
Timor-Leste                           TL               3482400.0
Togo                                  TG              10022825.0
Turkey                                TR                903925.0
Uganda                                UG              38386500.0
Ukraine                               UA               7091800.0
United States                         US              46352000.0
Uruguay                               UY                  8000.0
Vanuatu                               VU                  9250.0
Vietnam                               VN              24681100.0
Virgin Islands                        VI                 10000.0
Yemen                                 YE               3444000.0
Zambia                                ZM               1978975.0
Zimbabwe                              ZW               5851875.0
Name: loan_amount, Length: 95, dtype: float64

### 6 Like the previous point, but expressed as a percentage of the overall amount lent.

In [15]:
loan.groupby('country_name')['loan_amount'].sum() / loan['loan_amount'].sum() * 100

country_name
Afghanistan                             0.166573
Albania                                 0.364586
Armenia                                 1.942589
Azerbaijan                              1.251410
Belize                                  0.012711
Benin                                   0.327214
Bhutan                                  0.001693
Bolivia                                 3.743468
Bosnia and Herzegovina                  0.040396
Botswana                                0.000677
Brazil                                  0.100922
Bulgaria                                0.031766
Burkina Faso                            0.345782
Burundi                                 0.442973
Cambodia                                4.368706
Cameroon                                0.190514
Canada                                  0.004232
Chad                                    0.001699
Chile                                   0.219726
China                                   0.032209
Colombia                                1.998750
Congo                                   0.191745
Costa Rica                              0.477753
Cote D'Ivoire                           0.029227
Dominican Republic                      0.787854
Ecuador                                 3.006423
Egypt                                   0.119771
El Salvador                             3.528884
Gaza                                    0.000423
Georgia                                 0.810066
                                          ...
Philippines                             8.293678
Puerto Rico                             0.037404
Rwanda                                  2.467954
Saint Vincent and the Grenadines        0.004167
Samoa                                   1.033671
Senegal                                 1.519520
Sierra Leone                            1.012961
Solomon Islands                         0.069032
Somalia                                 0.026131
South Africa                            0.085195
South Sudan                             0.204691
Sri Lanka                               0.006331
Suriname                                0.063391
Tajikistan                              3.353722
Tanzania                                1.584536
Thailand                                0.051541
The Democratic Republic of the Congo    1.592418
Timor-Leste                             0.294760
Togo                                    0.848359
Turkey                                  0.076511
Uganda                                  3.249136
Ukraine                                 0.600269
United States                           3.923357
Uruguay                                 0.000677
Vanuatu                                 0.000783
Vietnam                                 2.089074
Virgin Islands                          0.000846
Yemen                                   0.291509
Zambia                                  0.167506
Zimbabwe                                0.495318
Name: loan_amount, Length: 96, dtype: float64

### 7 Like the three previous points, but split for each year (with respect to disburse time).

In [16]:
loan['disburse_time_year'] = loan['disburse_time'].dt.year

In [17]:
loan.groupby(['disburse_time_year', 'country_name'])['loan_id'].count()

disburse_time_year  country_name
2005.0              Bulgaria                               3
                    Cambodia                               2
                    Ecuador                               10
                    Gaza                                   8
                    Honduras                              72
                    Kenya                                 40
                    Nicaragua                              6
                    Senegal                                3
                    Tanzania                               5
                    Uganda                                54
2006.0              Azerbaijan                            21
                    Bulgaria                              70
                    Cambodia                              58
                    Ecuador                              253
                    Ghana                                 28
                    Honduras                             272
                    Kenya                                434
                    Mexico                               285
                    Moldova                               31
                    Mozambique                            16
                    Nicaragua                              5
                    Nigeria                              102
                    Samoa                                 13
                    Senegal                               54
                    Tanzania                              69
                    Togo                                  95
                    Uganda                               366
2007.0              Afghanistan                          408
                    Azerbaijan                          2133
                    Bolivia                              565
                                                        ...
2018.0              Costa Rica                             1
                    Dominican Republic                     2
                    Ghana                                 67
                    Guatemala                              1
                    Haiti                                 17
                    India                                  1
                    Indonesia                              3
                    Kenya                                587
                    Kyrgyzstan                             1
                    Lao People's Democratic Republic      19
                    Malawi                                 2
                    Mali                                   1
                    Mexico                                 5
                    Moldova                                5
                    Mozambique                            26
                    Nicaragua                              7
                    Nigeria                               10
                    Pakistan                               6
                    Panama                                 1
                    Paraguay                               2
                    Peru                                  10
                    Philippines                            6
                    Rwanda                                23
                    Senegal                               10
                    Sierra Leone                          19
                    Tanzania                              45
                    Thailand                              13
                    Uganda                                 2
                    Uruguay                                1
                    Zambia                                14
Name: loan_id, Length: 748, dtype: int64

In [18]:
loan.groupby(['disburse_time_year', 'country_name'])['loan_amount'].sum()

disburse_time_year  country_name
2005.0              Bulgaria                               1850.0
                    Cambodia                               1625.0
                    Ecuador                                5000.0
                    Gaza                                   5000.0
                    Honduras                              33300.0
                    Kenya                                 21350.0
                    Nicaragua                              3300.0
                    Senegal                                3225.0
                    Tanzania                               2300.0
                    Uganda                                25900.0
2006.0              Azerbaijan                            15700.0
                    Bulgaria                              84650.0
                    Cambodia                              41950.0
                    Ecuador                              151175.0
                    Ghana                                 23425.0
                    Honduras                              94325.0
                    Kenya                                222800.0
                    Mexico                               191575.0
                    Moldova                               20925.0
                    Mozambique                            15950.0
                    Nicaragua                              3850.0
                    Nigeria                               46950.0
                    Samoa                                  7800.0
                    Senegal                               52225.0
                    Tanzania                              45200.0
                    Togo                                  77600.0
                    Uganda                               280475.0
2007.0              Afghanistan                          194975.0
                    Azerbaijan                          1892775.0
                    Bolivia                              304700.0
                                                          ...
2018.0              Costa Rica                             1550.0
                    Dominican Republic                     9850.0
                    Ghana                                 74675.0
                    Guatemala                              3500.0
                    Haiti                                 32950.0
                    India                                 20000.0
                    Indonesia                              3450.0
                    Kenya                                393350.0
                    Kyrgyzstan                             8000.0
                    Lao People's Democratic Republic       6075.0
                    Malawi                                 2100.0
                    Mali                                  50000.0
                    Mexico                                  475.0
                    Moldova                               15675.0
                    Mozambique                            53850.0
                    Nicaragua                             13425.0
                    Nigeria                               13900.0
                    Pakistan                                150.0
                    Panama                                30000.0
                    Paraguay                                 50.0
                    Peru                                  17700.0
                    Philippines                             300.0
                    Rwanda                                26800.0
                    Senegal                                3975.0
                    Sierra Leone                          31125.0
                    Tanzania                              14300.0
                    Thailand                              26500.0
                    Uganda                                21750.0
                    Uruguay                                8000.0
                    Zambia                                13975.0
Name: loan_amount, Length: 748, dtype: float64

In [19]:
loan.groupby(['disburse_time_year', 'country_name'])['loan_amount'].sum() / loan['loan_amount'].sum() * 100

disburse_time_year  country_name
2005.0              Bulgaria                            0.000157
                    Cambodia                            0.000138
                    Ecuador                             0.000423
                    Gaza                                0.000423
                    Honduras                            0.002819
                    Kenya                               0.001807
                    Nicaragua                           0.000279
                    Senegal                             0.000273
                    Tanzania                            0.000195
                    Uganda                              0.002192
2006.0              Azerbaijan                          0.001329
                    Bulgaria                            0.007165
                    Cambodia                            0.003551
                    Ecuador                             0.012796
                    Ghana                               0.001983
                    Honduras                            0.007984
                    Kenya                               0.018858
                    Mexico                              0.016215
                    Moldova                             0.001771
                    Mozambique                          0.001350
                    Nicaragua                           0.000326
                    Nigeria                             0.003974
                    Samoa                               0.000660
                    Senegal                             0.004420
                    Tanzania                            0.003826
                    Togo                                0.006568
                    Uganda                              0.023740
2007.0              Afghanistan                         0.016503
                    Azerbaijan                          0.160210
                    Bolivia                             0.025791
                                                          ...
2018.0              Costa Rica                          0.000131
                    Dominican Republic                  0.000834
                    Ghana                               0.006321
                    Guatemala                           0.000296
                    Haiti                               0.002789
                    India                               0.001693
                    Indonesia                           0.000292
                    Kenya                               0.033294
                    Kyrgyzstan                          0.000677
                    Lao People's Democratic Republic    0.000514
                    Malawi                              0.000178
                    Mali                                0.004232
                    Mexico                              0.000040
                    Moldova                             0.001327
                    Mozambique                          0.004558
                    Nicaragua                           0.001136
                    Nigeria                             0.001177
                    Pakistan                            0.000013
                    Panama                              0.002539
                    Paraguay                            0.000004
                    Peru                                0.001498
                    Philippines                         0.000025
                    Rwanda                              0.002268
                    Senegal                             0.000336
                    Sierra Leone                        0.002635
                    Tanzania                            0.001210
                    Thailand                            0.002243
                    Uganda                              0.001841
                    Uruguay                             0.000677
                    Zambia                              0.001183
Name: loan_amount, Length: 748, dtype: float64

### 8 For each lender, compute the overall amount of money lent.

In [20]:
loan_lenders_merged = pd.merge(loan_lenders_norm, loan[["loan_id", "loan_amount"]], left_on="loan_id", right_on="loan_id")
loan_lenders_merged['amount_per_lenders'] = loan_lenders_merged['loan_amount'] / loan_lenders_merged['n_lenders']

In [21]:
loan_lenders_merged.groupby('lenders')['amount_per_lenders'].sum()

lenders
 000               1672.618411
 00000             1380.693644
 0002              2472.563566
 00mike00            52.631579
 0101craign0101    2623.565117
 0132575            117.678140
 0154884            136.342116
 0161130             49.779412
 0169713            102.488038
 0185429             57.674632
 0197462             27.631579
 0206338             60.602679
 0219854            105.000000
 0221581             55.844156
 0239059             63.300493
 0245597             33.333333
 0256321             57.086268
 0265562             65.714286
 0279282             30.000000
 0288537             27.272727
 0295920             59.303977
 0307987             59.059233
 0312857             30.625000
 0321212            118.213970
 0326lsw           1794.927610
 0332772             66.666667
 0346439            100.625000
 0353400             26.086957
 0367630             31.250000
 0376099             50.446429
                      ...
zuzana5790           44.117647
zuzana7522           46.153846
zuzana8241           32.894737
zuzana8342           30.978261
zuzana9270           35.000000
zuzana9580           35.416667
zuzana9848           52.500000
zuzanna5419          36.956522
zuzanna6834          47.727273
zuzanna7983         389.337266
zuzanna8834          28.750000
zuzanna9818         295.106061
zuzika7697           27.272727
zvezdana4014         30.000000
zvezdomir5847        44.791667
zvi                 411.891691
zvi1263              32.608696
zvika5974            50.000000
zvonimir7460         39.285714
zx147               199.562325
zyra9641             29.687500
zyrah8525           189.358838
zyrorl              111.698718
zzaba                28.125000
zzaman              683.645741
zzanita              87.500000
zzcyna7269           55.357143
zzinnia              38.000000
zzmcfate           2287.291955
zzrvmf8538          106.417625
Name: amount_per_lenders, Length: 1639026, dtype: float64

### 9 For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

In [22]:
lenders.columns

Index(['permanent_name', 'display_name', 'city', 'state', 'country_code',
       'member_since', 'occupation', 'loan_because', 'loan_purchase_num',
       'invited_by', 'num_invited'],
      dtype='object')

In [23]:
import random
import numpy as np

In [24]:
country_count = lenders.country_code.value_counts(normalize=True)

missing = lenders['country_code'].isnull()
lenders.loc[missing,'country_code'] = np.random.choice(country_count.index, size=len(lenders[missing]),p=country_count.values)

In [25]:
loan_lenders_merged2 = pd.merge(loan_lenders_norm, lenders[["permanent_name", "country_code"]], left_on="lenders", right_on="permanent_name")
loan_lenders_merged3 = pd.merge(loan_lenders_merged2, loan[["loan_id", "loan_amount"]], left_on="loan_id", right_on="loan_id")

money_lent_per_country = loan_lenders_merged3.groupby("country_code")["loan_amount"].sum()
money_lent_per_country = pd.DataFrame(money_lent_per_country).reset_index()
money_lent_per_country.columns = ['country_code', 'money_lent']

money_borrowed_per_country = pd.DataFrame(money_borrowed_per_country).reset_index()
money_borrowed_per_country.columns = ['country_name', 'country_code', 'money_borrowed']
lent_borrowed = pd.merge(money_lent_per_country, money_borrowed_per_country[["country_code", "money_borrowed"]], left_on="country_code", right_on="country_code", how="outer")
lent_borrowed.fillna(0, inplace=True)
lent_borrowed["difference"] = lent_borrowed["money_lent"] - lent_borrowed["money_borrowed"]

In [26]:
display(lent_borrowed)

    country_code   money_lent  money_borrowed   difference
0             AD       2575.0             0.0       2575.0
1             AE    2112250.0             0.0    2112250.0
2             AF     115075.0       1967950.0   -1852875.0
3             AG       1125.0             0.0       1125.0
4             AI        200.0             0.0        200.0
5             AL      37225.0       4307350.0   -4270125.0
6             AM      31050.0      22950475.0  -22919425.0
7             AN      32350.0             0.0      32350.0
8             AO      55975.0             0.0      55975.0
9             AQ      42000.0             0.0      42000.0
10            AR    1147300.0             0.0    1147300.0
11            AS       9925.0             0.0       9925.0
12            AT    3027350.0             0.0    3027350.0
13            AU   53833750.0             0.0   53833750.0
14            AW      12275.0             0.0      12275.0
15            AZ       4775.0      14784625.0  -14779850.0
16            BA      98500.0        477250.0    -378750.0
17            BB      27525.0             0.0      27525.0
18            BD      56175.0             0.0      56175.0
19            BE    3399125.0             0.0    3399125.0
20            BG     411975.0        375300.0      36675.0
21            BH      55550.0             0.0      55550.0
22            BI        600.0       5233450.0   -5232850.0
23            BJ       3550.0       3865825.0   -3862275.0
24            BM      48475.0             0.0      48475.0
25            BN      24850.0             0.0      24850.0
26            BO      58200.0      44226725.0  -44168525.0
27            BR    2064075.0       1192325.0     871750.0
28            BS      74950.0             0.0      74950.0
29            BT       9975.0         20000.0     -10025.0
..           ...          ...             ...          ...
188           TL       1700.0       3482400.0   -3480700.0
189           TN     135175.0             0.0     135175.0
190           TR     554550.0        903925.0    -349375.0
191           TT      33925.0             0.0      33925.0
192           TV       7350.0             0.0       7350.0
193           TW    4199375.0             0.0    4199375.0
194           TZ     160000.0      18720300.0  -18560300.0
195           UA     192250.0       7091800.0   -6899550.0
196           UG      94150.0      38386500.0  -38292350.0
197           UM      17725.0             0.0      17725.0
198           US  710829550.0      46352000.0  664477550.0
199           UY      87150.0          8000.0      79150.0
200           UZ       5675.0             0.0       5675.0
201           VA        150.0             0.0        150.0
202           VC      15900.0         49225.0     -33325.0
203           VE     137225.0             0.0     137225.0
204           VI      27550.0         10000.0      17550.0
205           VN     613300.0      24681100.0  -24067800.0
206           VU     153100.0          9250.0     143850.0
207           WF       2100.0             0.0       2100.0
208           XK       9900.0       3083025.0   -3073125.0
209           YE      62575.0       3444000.0   -3381425.0
210           ZA     759850.0       1006525.0    -246675.0
211           ZM      16375.0       1978975.0   -1962600.0
212           ZW       1425.0       5851875.0   -5850450.0
213           BF          0.0       4085200.0   -4085200.0
214           TD          0.0         20075.0     -20075.0
215           MR          0.0         15000.0     -15000.0
216           WS          0.0      12212175.0  -12212175.0
217           CD          0.0      18813425.0  -18813425.0

[218 rows x 4 columns]

### 10 Which country has the highest ratio between the difference computed at the previous point and the population?

In [27]:
country_stats.columns

Index(['country_name', 'country_code', 'country_code3', 'continent', 'region',
       'population', 'population_below_poverty_line', 'hdi', 'life_expectancy',
       'expected_years_of_schooling', 'mean_years_of_schooling', 'gni',
       'kiva_country_name'],
      dtype='object')

In [28]:
lent_borrowed_merged = pd.merge(lent_borrowed[["country_code", "difference"]], country_stats[["country_code", "population"]], left_on="country_code", right_on="country_code")
lent_borrowed_merged["ratio"] = lent_borrowed_merged["difference"] / lent_borrowed_merged["population"]

In [29]:
display(lent_borrowed_merged.sort_values(by="ratio", ascending=False))

    country_code   difference  population      ratio
23            CA  114429250.0    36624199   3.124416
108           NO   14951250.0     5305383   2.818128
68            IS     782500.0      335025   2.335647
7             AU   53833750.0    24450561   2.201739
152           US  664477550.0   324459463   2.047952
107           NL   31167350.0    17035938   1.829506
130           SE   15047800.0     9910701   1.518339
87            LU     845950.0      583455   1.449898
25            CH   11076725.0     8476005   1.306833
46            FI    6101300.0     5523231   1.104661
110           NZ    4332850.0     4705818   0.920743
37            DK    4559250.0     5733551   0.795188
49            GB   48573650.0    66181585   0.733945
120           PT    7539300.0    10329506   0.729880
63            IE    2857375.0     4761657   0.600080
131           SG    2811325.0     5708844   0.492451
57            HK    3587475.0     7364883   0.487105
35            DE   36852175.0    82114224   0.448792
98            MT     154725.0      430835   0.359128
6             AT    3027350.0     8735453   0.346559
48            FR   21502700.0    64979548   0.330915
11            BE    3399125.0    11429336   0.297404
0             AE    2112250.0     9400145   0.224704
59            HR     640875.0     4189353   0.152977
79            KW     513375.0     4136528   0.124108
41            EE     161275.0     1309632   0.123145
34            CZ    1259850.0    10618303   0.118649
44            ES    5454325.0    46354321   0.117666
33            CY     134900.0     1179551   0.114366
132           SI     236650.0     2079976   0.113775
..           ...          ...         ...        ...
31            CR   -4952125.0     4905769  -1.009449
55            GT  -18487700.0    16913503  -1.093073
71            JO  -10848375.0     9702353  -1.118118
135           SN  -17947100.0    15850567  -1.132269
142           TG  -10014525.0     7797694  -1.284293
58            HN  -11945325.0     9265067  -1.289286
137           SR    -740750.0      563402  -1.314781
128           SB    -815500.0      611343  -1.333948
73            KE  -66424750.0    49699862  -1.336518
2             AL   -4270125.0     2930187  -1.457288
8             AZ  -14779850.0     9827589  -1.503914
134           SL  -11966325.0     7557212  -1.583431
157           XK   -3073125.0     1895250  -1.621488
40            EC  -35272975.0    16624858  -2.121701
126           RW  -29136075.0    12208407  -2.386558
74            KG  -14651625.0     6045117  -2.423712
50            GE   -9559550.0     3912061  -2.443610
113           PE  -79191050.0    32165485  -2.461988
145           TL   -3480700.0     1296311  -2.685081
75            KH  -51537150.0    16005373  -3.219991
17            BO  -44168525.0    11051600  -3.996573
144           TJ  -39611100.0     8921343  -4.440038
82            LB  -27332650.0     6082357  -4.493760
119           PS  -22252600.0     4920724  -4.522221
106           NI  -30057675.0     6217581  -4.834304
97            MN  -15274375.0     3075647  -4.966231
139           SV  -41640375.0     6377853  -6.528902
3             AM  -22919425.0     2930450  -7.821128
121           PY  -53927975.0     6811297  -7.917431
165           WS  -12212175.0      196440 -62.167456

[167 rows x 4 columns]

### 11 Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

In [30]:
country_stats[country_stats["population_below_poverty_line"].isnull()]

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
151,Australia,AU,AUS,Oceania,Australia and New Zealand,24450561,NaN,0.938680,82.537,20.43272,13.175100,42822.196270,Australia
152,Bahrain,BH,BHR,Asia,Western Asia,1492584,NaN,0.823884,76.715,14.50000,9.419000,37236.363040,Bahrain
153,Brunei,BN,BRN,Asia,South-eastern Asia,428697,NaN,0.864937,79.019,14.94486,9.020000,72843.466090,Brunei
154,Cuba,CU,CUB,Americas,Caribbean,11484636,NaN,0.774669,79.573,13.93739,11.750781,7455.062477,Cuba
155,Cyprus,CY,CYP,Asia,Western Asia,1179551,NaN,0.855646,80.332,14.25613,11.695230,29458.522690,Cyprus
156,Finland,FI,FIN,Europe,Northern Europe,5523231,NaN,0.894517,81.006,17.04792,11.194000,38868.135520,Finland
157,Iceland,IS,ISL,Europe,Northern Europe,335025,NaN,0.921110,82.724,18.99422,12.190892,37065.214510,Iceland
158,Kuwait,KW,KWT,Asia,Western Asia,4136528,NaN,0.800183,74.549,13.26000,7.265369,76075.207350,Kuwait
159,Luxembourg,LU,LUX,Europe,Western Europe,583455,NaN,0.898465,81.881,13.86373,11.950833,62470.591290,Luxembourg
160,New Zealand,NZ,NZL,Oceania,Australia and New Zealand,4705818,NaN,0.914900,82.026,19.22820,12.503000,32870.078360,New Zealand
161,North Korea,KP,PRK,Asia,Eastern Asia,25490965,NaN,NaN,NaN,NaN,NaN,NaN,North Korea
162,Norway,NO,NOR,Europe,Northern Europe,5305383,NaN,0.949423,81.711,17.67187,12.746420,67614.353480,Norway
163,Oman,OM,OMN,Asia,Western Asia,4636262,NaN,0.795779,76.970,13.74085,8.100000,34402.275500,Oman
164,Puerto Rico,PR,PRI,Americas,Caribbean,3663131,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico
165,Qatar,QA,QAT,Asia,Western Asia,2639211,NaN,0.855531,78.323,13.40610,9.764630,129915.600900,Qatar
166,Saudi Arabia,SA,SAU,Asia,Western Asia,32938213,NaN,0.846602,74.444,16.11227,9.627520,51320.113230,Saudi Arabia
167,Singapore,SG,SGP,Asia,South-eastern Asia,5708844,NaN,0.924866,83.209,15.40000,11.572410,78162.323870,Singapore
168,Solomon Islands,SB,SLB,Oceania,Melanesia,611343,NaN,0.514999,68.107,9.61000,5.330584,1560.858813,Solomon Islands
169,Somalia,SO,SOM,Africa,Eastern Africa,14742523,NaN,NaN,NaN,NaN,NaN,NaN,Somalia
170,Central African Republic,CF,CAF,Africa,Middle Africa,4659080,NaN,0.352440,51.458,7.09898,4.230000,587.473961,Central African Republic
171,Samoa,WS,WSM,Oceania,Polynesia,196440,NaN,0.702000,NaN,NaN,NaN,NaN,Samoa
172,Palestine,PS,PS,Asia,Western Asia,4920724,NaN,0.677000,NaN,NaN,NaN,NaN,Palestine

Ci sono 22 valori nulli nella variabile "population_below_poverty_line", pertanto si cercherà di rimpiazzarli.
La fonte utilizzata per ricavare la percentuale di popolazione al di sotto della soglia di povertà in questo dataset è presente negli archivi della CIA. Confrontando tali dati con quelli della World Bank i valori osservati erano praticamente identici, quindi, dove possibile, i nostri missing values verranno sostituiti dal valore riportato nelle classifiche della World Bank. Si ottiene quanto segue: 

* Australia 1.2 
* Cyprus 0.2 
* Finland 0.2
* Iceland 0.2
* Luxembourg 0.5
* Norway 0.2
* Solomon Island 56.2
* Central Africa Republic 80.7
* Samoa 14.9
* Palestina 9.4

In [31]:
country_stats.loc[country_stats.country_code == "AU", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "AU", "population_below_poverty_line"].fillna(1.2)
country_stats.loc[country_stats.country_code == "CY", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "CY", "population_below_poverty_line"].fillna(0.2)
country_stats.loc[country_stats.country_code == "FI", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "FI", "population_below_poverty_line"].fillna(0.2)
country_stats.loc[country_stats.country_code == "IS", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "IS", "population_below_poverty_line"].fillna(0.2)
country_stats.loc[country_stats.country_code == "LU", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "LU", "population_below_poverty_line"].fillna(0.5)
country_stats.loc[country_stats.country_code == "NO", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "NO", "population_below_poverty_line"].fillna(0.2)
country_stats.loc[country_stats.country_code == "SB", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "SB", "population_below_poverty_line"].fillna(56.2)
country_stats.loc[country_stats.country_code == "CF", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "CF", "population_below_poverty_line"].fillna(80.7)
country_stats.loc[country_stats.country_code == "WS", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "WS", "population_below_poverty_line"].fillna(14.9)
country_stats.loc[country_stats.country_code == "PS", "population_below_poverty_line"] = country_stats.loc[country_stats.country_code == "PS", "population_below_poverty_line"].fillna(9.4)

Dopo tale operazione tuttavia sono ancora presenti Stati con il valore di nostro interesse che risulta mancante. Esso verrà quindi sostituito con il valore mediano relativo agli altri Stati che appartengono allo stesso continente. La scelta è ricaduta sulla mediana per evitare le eventuali influenze relative a valori molto estremi.

In [32]:
cs_group = country_stats.groupby("continent")["population_below_poverty_line"].median()
cs_group = pd.DataFrame(cs_group).reset_index()
cs_group.columns = ['continent', 'population_below_poverty_line']

In [33]:
cs_group

  continent  population_below_poverty_line
0    Africa                           45.1
1  Americas                           26.7
2      Asia                           19.5
3    Europe                           15.0
4   Oceania                           31.0

In [34]:
country_stats.loc[country_stats.continent == "Africa", 'population_below_poverty_line'] = country_stats.loc[country_stats.continent == "Africa", 'population_below_poverty_line'].fillna(cs_group.iloc[0,1])
country_stats.loc[country_stats.continent == "Americas", 'population_below_poverty_line'] = country_stats.loc[country_stats.continent == "Americas", 'population_below_poverty_line'].fillna(cs_group.iloc[1,1])
country_stats.loc[country_stats.continent == "Asia", 'population_below_poverty_line'] = country_stats.loc[country_stats.continent == "Asia", 'population_below_poverty_line'].fillna(cs_group.iloc[2,1])
country_stats.loc[country_stats.continent == "Oceania", 'population_below_poverty_line'] = country_stats.loc[country_stats.continent == "Oceania", 'population_below_poverty_line'].fillna(cs_group.iloc[4,1])

In [35]:
country_stats["population_not_below_poverty_line"] = country_stats["population"] - (country_stats["population"] / 100 * country_stats["population_below_poverty_line"])

lent_borrowed_merged2 = pd.merge(lent_borrowed[["country_code", "difference"]], country_stats[["country_code", "population_not_below_poverty_line"]], left_on="country_code", right_on="country_code")
lent_borrowed_merged2["ratio"] = lent_borrowed_merged2["difference"] / lent_borrowed_merged2["population_not_below_poverty_line"]

In [36]:
display(lent_borrowed_merged2.sort_values(by="ratio", ascending=False))

    country_code   difference  population_not_below_poverty_line      ratio
23            CA  114429250.0                       3.318152e+07   3.448583
108           NO   14951250.0                       5.294772e+06   2.823776
152           US  664477550.0                       2.754661e+08   2.412194
68            IS     782500.0                       3.343550e+05   2.340327
7             AU   53833750.0                       2.415715e+07   2.228481
107           NL   31167350.0                       1.553678e+07   2.006037
130           SE   15047800.0                       8.424096e+06   1.786281
87            LU     845950.0                       5.805377e+05   1.457184
25            CH   11076725.0                       7.916589e+06   1.399179
110           NZ    4332850.0                       3.247014e+06   1.334410
46            FI    6101300.0                       5.512185e+06   1.106875
37            DK    4559250.0                       4.965255e+06   0.918231
120           PT    7539300.0                       8.366900e+06   0.901086
49            GB   48573650.0                       5.625435e+07   0.863465
63            IE    2857375.0                       4.371201e+06   0.653682
131           SG    2811325.0                       4.595619e+06   0.611740
57            HK    3587475.0                       5.921366e+06   0.605853
35            DE   36852175.0                       6.840115e+07   0.538765
98            MT     154725.0                       3.606089e+05   0.429066
48            FR   21502700.0                       5.588241e+07   0.384785
6             AT    3027350.0                       8.386035e+06   0.360999
11            BE    3399125.0                       9.703506e+06   0.350299
0             AE    2112250.0                       7.567117e+06   0.279135
59            HR     640875.0                       3.372429e+06   0.190034
41            EE     161275.0                       1.030680e+06   0.156474
79            KW     513375.0                       3.329905e+06   0.154171
44            ES    5454325.0                       3.657356e+07   0.149133
69            IT    5769950.0                       4.161129e+07   0.138663
132           SI     236650.0                       1.782539e+06   0.132760
34            CZ    1259850.0                       9.588328e+06   0.131394
..           ...          ...                                ...        ...
14            BI   -5232850.0                       3.845943e+06  -1.360616
8             AZ  -14779850.0                       9.346037e+06  -1.581403
2             AL   -4270125.0                       2.511170e+06  -1.700452
84            LR   -3914675.0                       2.171945e+06  -1.802382
58            HN  -11945325.0                       6.522607e+06  -1.831373
135           SN  -17947100.0                       8.448352e+06  -2.124331
157           XK   -3073125.0                       1.326675e+06  -2.316411
73            KE  -66424750.0                       2.813012e+07  -2.361339
55            GT  -18487700.0                       6.883796e+06  -2.685684
50            GE   -9559550.0                       3.552151e+06  -2.691200
40            EC  -35272975.0                       1.236889e+07  -2.851748
142           TG  -10014525.0                       3.501165e+06  -2.860341
128           SB    -815500.0                       2.677682e+05  -3.045544
113           PE  -79191050.0                       2.486392e+07  -3.184978
74            KG  -14651625.0                       4.104634e+06  -3.569532
75            KH  -51537150.0                       1.317242e+07  -3.912504
126           RW  -29136075.0                       7.434920e+06  -3.918815
137           SR    -740750.0                       1.690206e+05  -4.382602
145           TL   -3480700.0                       7.544530e+05  -4.613541
119           PS  -22252600.0                       4.458176e+06  -4.991414
134           SL  -11966325.0                       2.252049e+06  -5.313527
82            LB  -27332650.0                       4.342803e+06  -6.293781
97            MN  -15274375.0                       2.411307e+06  -6.334479
144           TJ  -39611100.0                       6.111120e+06  -6.481807
17            BO  -44168525.0                       6.785682e+06  -6.509076
106           NI  -30057675.0                       4.377177e+06  -6.866909
139           SV  -41640375.0                       4.151982e+06 -10.029035
121           PY  -53927975.0                       5.299189e+06 -10.176647
3             AM  -22919425.0                       1.992706e+06 -11.501659
165           WS  -12212175.0                       1.671704e+05 -73.052239

[167 rows x 4 columns]

### 12 For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.

In [37]:
from pandas.tseries import offsets

In [38]:
loan_one_year = loan[loan.disburse_time_year == loan.planned_expiration_time.dt.year]     #record che hanno disburse_time e planned_expiration_time nello stesso anno
loan_more_years = loan[loan.disburse_time_year != loan.planned_expiration_time.dt.year]   #record che hanno disburse_time e planned_expiration_time in anni diversi

In [39]:
total_amount_one_year = loan_one_year.groupby('disburse_time_year')['loan_amount'].sum()

total_amount_one_year = pd.DataFrame(total_amount_one_year).reset_index()
total_amount_one_year.columns = ['year', 'loans_amount']

In [40]:
loan_more_years['expiration_time_year'] = loan_more_years['planned_expiration_time'].dt.year
loan_more_years['n_years'] = loan_more_years['expiration_time_year'] - loan_more_years['disburse_time_year']  #aggiungo variabile per sapere quanti anni trascorrono fra disburse_time e planned_expiration_time

C:\Users\Francesca\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Francesca\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
df = loan_more_years[loan_more_years.n_years >= 0]   #mantengo solo i dati senza errori (ovvero con le date non invertite, per evitare numeri negativi)

In [42]:
df.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model',
       'duration', 'disburse_time_year', 'expiration_time_year', 'n_years'],
      dtype='object')

In [43]:
df = df.loc[df.index.repeat(df['n_years'] + 1)]    #si ripete ogni loan per ogni anno trascorso tra disburse_time e planned_expiration_time
df['year'] = df.groupby(level=0).cumcount() + df.disburse_time_year   #si aggiunge una variabile che farà riferimento all'anno che consideriamo
df['n_years'] = df['n_years'] + 1 
df['end_of_first_year'] = df.disburse_time + offsets.YearEnd(n=0)   #si calcola la data della fine dell'anno relativa a disburse_time 
df['beginning_of_last_year'] = df.planned_expiration_time - offsets.YearBegin()    #si calcola la data relativa all'inizio dell'anno relativa a planned_expiration_time
df['days_first_year'] = (df.end_of_first_year - df.disburse_time).dt.days    #numero di giorni del primo anno
df['days_last_year'] = (df.planned_expiration_time - df.beginning_of_last_year).dt.days    #numero di giorni dell'ultimo anno

In [44]:
#si definisce una funzione per calcolare l'ammontare relativo ad ogni anno tenendo in considerazione che l'ammontare
#va distribuito equamente fra i vari anni coperti

def calculate_amount_per_year(row):
    if row.year==row.disburse_time_year:
        return (row.loan_amount * row.days_first_year) / (row.days_first_year + 365 * (row.n_years - 2) + row.days_last_year)
    elif row.year==row.expiration_time_year:
        return (row.loan_amount * row.days_last_year) / (row.days_first_year + 365 * (row.n_years - 2) + row.days_last_year)
    else:
        return (row.loan_amount * 365) / (row.days_first_year + 365 * (row.n_years - 2) + row.days_last_year)

In [45]:
df['amount_per_year'] = df.apply(calculate_amount_per_year, axis=1)
total_amount_more_years = df.groupby('year')['amount_per_year'].sum()

total_amount_more_years = pd.DataFrame(total_amount_more_years).reset_index()
total_amount_more_years.columns = ['year', 'loans_amount']

In [46]:
total_amount = pd.concat([total_amount_one_year, total_amount_more_years], ignore_index=True)
total_amount.groupby('year')['loans_amount'].sum()

year
2011.0    6.394771e+05
2012.0    1.132873e+08
2013.0    1.241966e+08
2014.0    1.538371e+08
2015.0    1.596145e+08
2016.0    1.589562e+08
2017.0    1.718975e+08
2018.0    5.879006e+06
Name: loans_amount, dtype: float64

### 1B For each value of repayment_interval, add a new column to the lenders dataframe that contains the total amount of money corresponding to loans in such state

In [47]:
lenders.columns

Index(['permanent_name', 'display_name', 'city', 'state', 'country_code',
       'member_since', 'occupation', 'loan_because', 'loan_purchase_num',
       'invited_by', 'num_invited'],
      dtype='object')

In [48]:
repayment_group = pd.merge(loan_lenders_merged[["loan_id", "lenders", "amount_per_lenders"]], loan[["loan_id", "repayment_interval"]], left_on="loan_id", right_on="loan_id")
lenders_grouped = repayment_group.groupby(["lenders", "repayment_interval"])["amount_per_lenders"].sum()
lenders2 = lenders_grouped.unstack()
lenders_update = pd.merge(lenders, lenders2, left_on="permanent_name", right_on="lenders", how="left")
lenders_update[["weekly","monthly", "bullet", "irregular"]] = lenders_update[["weekly","monthly", "bullet", "irregular"]].fillna(0)

In [49]:
display(lenders_update)

,permanent_name,display_name,city,state,country_code,member_since,occupation,loan_because,loan_purchase_num,invited_by,num_invited,bullet,irregular,monthly,weekly
0,qian3013,Qian,NaN,NaN,US,1461300457,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
1,reena6733,Reena,NaN,NaN,US,1461300634,NaN,NaN,9.0,NaN,0,0.000000,0.000000,0.000000,0.0
2,mai5982,Mai,NaN,NaN,US,1461300853,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
3,andrew86079135,Andrew,NaN,NaN,SE,1461301091,NaN,NaN,5.0,Peter Tan,0,0.000000,0.000000,0.000000,0.0
4,nguyen6962,Nguyen,NaN,NaN,CA,1461301154,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
5,sirinapa6764,Sirinapa,NaN,NaN,US,1461301496,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
6,rene7585,Rene,NaN,NaN,CO,1461301636,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
7,harald2826,Harald,NaN,NaN,US,1461301670,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
8,mehdi2903,Mehdi,NaN,NaN,US,1461301756,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
9,youchan8125,Youchan,NaN,NaN,US,1461301941,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
10,zhu2998,Zhu,NaN,NaN,US,1461302472,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
11,jennifer4328,Jennifer,NaN,NaN,US,1461302712,NaN,NaN,3.0,NaN,0,0.000000,0.000000,0.000000,0.0
12,aniruddha9724,Aniruddha,NaN,NaN,CA,1461302850,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
13,duraimurugan4891,Durai Murugan,NaN,NaN,US,1461302864,NaN,NaN,1.0,NaN,1,0.000000,0.000000,0.000000,0.0
14,chuan7668,chuan,NaN,NaN,US,1461302892,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
15,zhang2317,zhang,NaN,NaN,US,1461302899,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
16,naresh2074,Naresh,NaN,NaN,US,1461303119,NaN,NaN,3.0,NaN,0,26.923077,36.764706,0.000000,0.0
17,min6557,Min,NaN,NaN,US,1461303121,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
18,weiting2757,Wei Ting,NaN,NaN,CO,1461300705,NaN,NaN,1.0,Joanne,0,0.000000,0.000000,0.000000,0.0
19,you2163,you,NaN,NaN,US,1461300920,NaN,NaN,3.0,NaN,0,0.000000,0.000000,0.000000,0.0
20,yibing3664,yibing,NaN,NaN,US,1461301192,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
21,vidhya3861,Vidhya,NaN,NaN,AU,1461301253,NaN,NaN,2.0,ANup,0,0.000000,0.000000,0.000000,0.0
22,brave3842,Brave,NaN,NaN,US,1461301256,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
23,charan2835,charan,NaN,NaN,US,1461301521,NaN,NaN,4.0,NaN,0,0.000000,0.000000,0.000000,0.0
24,shalini8713,Shalini,NaN,NaN,CA,1461301538,NaN,NaN,4.0,NaN,0,0.000000,0.000000,0.000000,0.0
25,surendrakumar2666,Surendra Kumar,NaN,NaN,CA,1461301689,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
26,rank7715,Rank,NaN,NaN,US,1461302240,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
27,liz5177,Liz,NaN,NaN,CA,1461302338,NaN,NaN,15.0,NaN,0,0.000000,0.000000,0.000000,0.0
28,jiaqing8074,jiaqing,NaN,NaN,DE,1461302344,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
29,qinghua8634,QINGHUA,NaN,NaN,AU,1461302353,NaN,NaN,1.0,NaN,0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349144,jeff82553550,Jeff,NaN,Rhode Island,US,1342101782,NaN,NaN,6.0,William,0,0.000000,0.000000,0.000000,0.0
2349145,brandon3139,Brandon,Charlotte,NC,US,1342093246,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
2349146,ledizia8429,Ledizia,NaN,NaN,US,1342095049,NaN,NaN,1.0,Leonie Dawson,0,0.000000,0.000000,0.000000,0.0
2349147,erik4879,Erik,NaN,NaN,US,1342096025,NaN,NaN,0.0,NaN,1,0.000000,0.000000,0.000000,0.0
2349148,irina3974,Irina,Raleigh,North Carolina,US,1342096229,NaN,NaN,1.0,NaN,1,0.000000,0.000000,0.000000,0.0
2349149,lisa40629710,Lisa,NaN,NaN,AU,1342098370,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349150,brandon5185,brandon,NaN,NaN,ZA,1342098887,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349151,barry6472,Barry,Ferndale,WA,US,1342100739,NaN,NaN,52.0,NaN,0,80.357143,71.875000,94.664634,0.0
2349152,lenny4283,Lenny,NaN,NaN,NO,1342100817,NaN,NaN,1.0,Mauricio,0,0.000000,0.000000,0.000000,0.0
2349153,bonnie9739,Bonnie,Ft. Lauderdale,Florida,US,1342101126,Elementary School Teacher,it is a direct way for me to make a difference...,549.0,NaN,1,58.333333,121.822479,416.452843,0.0
2349154,carldavid7952,Carl-David,NaN,NaN,US,1342091600,NaN,NaN,1.0,Judy,0,0.000000,0.000000,0.000000,0.0
2349155,cody7091,Cody,Taylorsville,Utah,US,1342098780,NaN,NaN,1.0,Jeannie,0,0.000000,26.562500,0.000000,0.0
2349156,patrick2230,Patrick,NaN,NaN,CA,1342099012,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349157,haley9654,Haley,NaN,NaN,US,1342100271,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349158,rakhi,Rakhi,New York,New York,US,1342100607,Student,I care.,4.0,NaN,0,50.000000,0.000000,0.000000,0.0
2349159,vicki5374,Vicki,Austin,Texas,US,1342101743,NaN,NaN,1.0,Vicki,1,0.000000,0.000000,0.000000,0.0
2349160,tanvir6944,Tanvir,NaN,NaN,US,1342101840,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349161,jennifer5879,Jennifer,Riverview,New Brunswick,CA,1342092207,NaN,NaN,1.0,Beverly,1,0.000000,0.000000,0.000000,0.0
2349162,james75291930,James,NaN,NaN,US,1342096854,NaN,NaN,6.0,NaN,0,0.000000,0.000000,0.000000,0.0
2349163,stanley6044,Stanley,NaN,NaN,US,1342098184,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349164,carol8279,Carol,NaN,NaN,US,1342099416,NaN,NaN,5.0,NaN,0,0.000000,0.000000,0.000000,0.0
2349165,jeffery5099,Jeffery,NaN,NaN,CA,1342100234,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349166,eric91401545,Eric,NaN,NaN,US,1342100719,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
2349167,todd5695,Todd,NaN,NaN,CA,1342101461,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349168,kate40761039,Kate,NaN,NaN,US,1342096938,NaN,NaN,1.0,Irina,0,0.000000,0.000000,0.000000,0.0
2349169,janet7309,Janet,NaN,NaN,GB,1342097163,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349170,pj4198,NaN,NaN,NaN,FI,1342097515,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349171,maria2141,Maria,NaN,NaN,US,1342099723,NaN,NaN,2.0,NaN,0,0.000000,0.000000,0.000000,0.0
2349172,simone9846,Simone,NaN,NaN,CA,1342100213,NaN,NaN,NaN,NaN,0,0.000000,0.000000,0.000000,0.0
2349173,laurie1160,Laurie,Timonium,Maryland,US,1342101767,NaN,NaN,1.0,Verian,0,0.000000,0.000000,0.000000,0.0

### 2B What is the occupation with the highest average amount of money lent (the average must be computed over all lenders with a given occupation)?

In [50]:
lenders.columns

Index(['permanent_name', 'display_name', 'city', 'state', 'country_code',
       'member_since', 'occupation', 'loan_because', 'loan_purchase_num',
       'invited_by', 'num_invited'],
      dtype='object')

In [51]:
lenders2 = lenders[pd.notnull(lenders["occupation"])]
loan_lenders2_merged = pd.merge(loan_lenders_merged[["loan_id", "amount_per_lenders", "lenders"]], lenders2[["permanent_name", "occupation"]], left_on="lenders", right_on="permanent_name")

Ci sono occupazioni scritte in modo differente, ad esempio "Teacher" e "teacher" oppure "Artist" e "artist".

In [52]:
df = loan_lenders2_merged.assign(occupation=loan_lenders2_merged['occupation'].str.capitalize()).groupby("occupation", as_index=False).mean()

In [53]:
df.loc[df['amount_per_lenders'].idxmax()][["occupation", "amount_per_lenders"]]

occupation            Publisher, skirt! magazine
amount_per_lenders                          5075
Name: 19014, dtype: object

### 3B Cluster the loans according to the year-month of disburse time.

In [54]:
loan['disburse_time_month'] = loan['disburse_time'].dt.month

In [55]:
cluster = loan.groupby(['disburse_time_year', 'disburse_time_month']).apply(lambda x: x["loan_id"].tolist()).to_dict()

Per suddividere i vari _loans_ è stato creato un dizionario che avesse come chiave l'anno e il mese di _disburse_time_. A causa della grande quantità di dati, verranno riportati gli output relativi a due chiavi come esempio.

In [60]:
print(cluster[(2006.0, 6.0)])

[457, 439, 436, 470, 438, 372, 477, 393, 448, 447, 431, 476, 461, 450, 396, 441, 467, 434, 462, 463, 442, 397, 468, 444, 375, 466, 458, 418, 395, 465, 460, 394, 475, 464, 433, 491, 451, 365, 489, 472, 440, 391, 427, 452, 454, 443, 459, 428, 445, 449, 469, 435, 478, 417, 366, 455, 432, 408, 446, 490, 421, 473, 413, 425, 437, 495]

In [61]:
print(cluster[(2006.0, 7.0)])

[480, 514, 532, 497, 527, 390, 494, 548, 559, 542, 364, 546, 523, 499, 544, 389, 474, 508, 374, 516, 522, 482, 424, 498, 551, 535, 481, 545, 487, 493, 471, 501, 505, 531, 456, 479, 500, 536, 503, 539, 509, 507, 515, 547, 538, 525, 518, 513, 560, 492, 521, 530, 543, 369, 529, 483, 519, 486, 485, 512, 504, 557, 537, 506, 549, 496, 511, 534, 502, 488, 520, 533]

### 4B For each country, compute its overall GDP, by multiplying the per capita GDP with its population.

In [62]:
country_stats.columns

Index(['country_name', 'country_code', 'country_code3', 'continent', 'region',
       'population', 'population_below_poverty_line', 'hdi', 'life_expectancy',
       'expected_years_of_schooling', 'mean_years_of_schooling', 'gni',
       'kiva_country_name', 'population_not_below_poverty_line'],
      dtype='object')

In [63]:
country_stats['overall_gni'] = country_stats['gni'] * country_stats['population']

In [64]:
country_stats.head()

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name,population_not_below_poverty_line,overall_gni
0,India,IN,IND,Asia,Southern Asia,1339180127,21.9,0.623559,68.322,11.696590,6.298834,5663.474799,India,1.045900e+09,7.584413e+12
1,Nigeria,NG,NGA,Africa,Western Africa,190886311,70.0,0.527105,53.057,9.970482,6.000000,5442.901264,Nigeria,5.726589e+07,1.038975e+12
2,Mexico,MX,MEX,Americas,Central America,129163276,46.2,0.761683,76.972,13.299090,8.554985,16383.106680,Mexico,6.948984e+07,2.116096e+12
3,Pakistan,PK,PAK,Asia,Southern Asia,197015955,29.5,0.550354,66.365,8.106910,5.089460,5031.173074,Pakistan,1.388962e+08,9.912214e+11
4,Bangladesh,BD,BGD,Asia,Southern Asia,164669751,31.5,0.578824,71.985,10.178706,5.241577,3341.490722,Bangladesh,1.127988e+08,5.502424e+11

In [65]:
country_stats.tail()

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name,population_not_below_poverty_line,overall_gni
169,Somalia,SO,SOM,Africa,Eastern Africa,14742523,45.1,NaN,NaN,NaN,NaN,NaN,Somalia,8093645.127,NaN
170,Central African Republic,CF,CAF,Africa,Middle Africa,4659080,80.7,0.35244,51.458,7.09898,4.23,587.473961,Central African Republic,899202.440,2.737088e+09
171,Samoa,WS,WSM,Oceania,Polynesia,196440,14.9,0.70200,NaN,NaN,NaN,NaN,Samoa,167170.440,NaN
172,Palestine,PS,PS,Asia,Western Asia,4920724,9.4,0.67700,NaN,NaN,NaN,NaN,Palestine,4458175.944,NaN
173,Kosovo,XK,NaN,Europe,Southern Europe,1895250,30.0,0.78600,NaN,NaN,NaN,NaN,Kosovo,1326675.000,NaN